spring:
  datasource:
    url: jdbc:postgresql://localhost:9998/rest-api-database
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    user:
      name: admin
      password: admin